@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: grey;
  padding: 5px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;

}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  padding: 5px;
}

.left-links {
  display: flex;
  padding: 0;
  margin-left: 15px;
}

.right-links {
  display: flex;
  padding: 0;
  margin-right: 15px;
}

.content {
  text-align: center;
}

button {
  padding: 10px;
  margin-top: 5px;
}

input {
  margin-top: 5px;
}